<?xml version="1.0"?>
<launch>
  <arg name="goal_x" default="14"/>
  <arg name="goal_y" default="25"/>
  <arg name="init_x" default ="20" />
  <arg name="init_y" default ="20"/>
  <node name="planner" pkg="path_planner" type="planner_node.py" output="screen">
    <param name="goal/x" value="$(arg goal_x)" />
    <param name="goal/y" value="$(arg goal_y)" />
    <param name="init/x" value="$(arg init_x)" />
    <param name="init/y" value="$(arg init_y)" />
    
    <remap from="/goal_pose" to="/move_base_simple/goal"/>
  </node>
  
</launch>
  	
